
.page{
    margin-bottom: 5%;
    
    .top{
        margin: 0;
        width: 100%;
        .back{
            padding: 1% 2%;
            margin: 2.5% 5%;
            border-radius: 5%;
            border: 1px solid #574f7d;
            width: 2.5%;
            height: 4vh;
            color: white;
            background-color: #574f7d;
            &:hover{
                
                color: #574f7d;
                background-color: #e0f0ea;
                transition: 300ms ease-out;
            }
        }
    }
    .big-card {
        background-color: #e0f0ea;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
        transition: 0.3s;
        width: 60%;
        max-height: 30%;
        border-radius: 5px;
        margin: auto ;
        
        
        img {
            width: 100%;
            max-height: 30%;
            border-radius: 5px 5px 0 0;
            }
            
            .container {
                display: flex;
                flex-direction: column;
            padding: 2px 16px;
            
            text-decoration: none;
            color: #574f7d;
            }
            &:hover {
            box-shadow: 0 18px 26px 0 rgba(0,0,0,0.6);
        }
    }
    @media only screen and (max-width: 1000px){
        .big-card{
          width: 80%;
          margin: 10%;
          height: auto;
        }
      }
}

