div{
    input{
        margin: 0 2.5% 5% 0;
        width: 70%;
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid #574f7d;
        
        font-size: 1.55rem;
        color: #e0f0ea;
    }
    .clear{
        border-radius: 0%;
        border: 1px solid #574f7d;
        width: 25%;
        height: 60%;
        color: #e0f0ea;
        background-color: #574f7d;
        &:hover{
            color: #574f7d;
            background-color: #e0f0ea;
        }
    }
    }