.search-container{
    width: 50%;
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
    input{
        margin: 0 2.5% 5% 0;
        width: 75%;
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid #574f7d;
        
        font-size: 1.55rem;
        color: #574f7d;
    }
    .clear{
        border-radius: 5%;
        border: 1px solid #574f7d;
        width: 17.5%;
        height: 7vh;
        color: #e0f0ea;
        background-color: #574f7d;
        &:hover{
            color: #574f7d;
            background-color: #e0f0ea;
        }
    }
    }

    @media only screen and (max-width:500px){
        .search-container{
            width: 80%;
        }
    }